<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

 <div id="state_indicator" >
	<%=state_indicator_row(passed_obj) %>
 </div>
<br class="clear" />
