<h1>Editing occurrence</h1>

<%= render 'form' %>

<%= link_to 'Show', deployment_window_series_occurrence_path(@parent, @occurrence) %> |
<%= link_to 'Back', deployment_window_series_occurrences_path(@parent) %>
