<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h2>
  <%= I18n.t(:'new_item', item: I18n.t(:'activerecord.models.list')) %>
</h2>
<%= render 'form' %>
