<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id='recent_activities'>
  <h2>Recent Activity</h2>
  <%= render :partial => "dashboard/recent_activities_table" %>
</div>
