<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2014
   # All Rights Reserved.
   ################################################################################
%>
<%= static_javascript_include_tag 'request_templates' %>

<div class='cont_horizontal_scroll'>
  <table class='tablesorter server_side_tablesorter table_fix formatted_table'
         summary="<%= details_request_templates_path(position: archived ? 'archived' : 'unarchived',
                                                     format: 'html',
                                                     page: @page,
                                                     page_inactive: @page_inactive,
                                                     per_page: @per_page,
                                                     request: @request,
                                                     order: @order,
                                                     partial: 'details',
                                                     key: @keyword) %>">

    <thead>
    <tr>
      <th headers="name" width='155'>
        Template Name
      </th>
      <th headers="app" width='100'>
        Application
      </th>
      <% unless archived %>
        <th headers="status" width='80'>
          Status
        </th>
      <% end %>
      <th width='110'>
        Created at
      </th>
      <th width='100'>
        Process
      </th>
      <th title='Count of Steps' width='35'>
        Steps
      </th>
      <th title='Count of the associated Plan Templates' width='35'>
        Plans
      </th>
      <th width='180'>Actions</th>
      <% unless archived %>
        <th width='400'>&nbsp;</th>
      <% end %>
    </tr>
    </thead>
    <% if request_templates.blank? %>
      <tbody>
      <tr>
        <td colspan="8">Loading...</td>
      </tr>
      </tbody>
    <% else %>
      <%= render 'request_templates/details', request_templates: request_templates, archived: archived %>
    <% end %>
  </table>
</div>