<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<li>
  <%= link_to h(server_aspect.name),
              link_path,
              :style => "text-decoration: none; color: #000; border-bottom: 1px solid #888;",
              :class => "toggle_server_aspect_tree" %>
</li>
