<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<% page_settings :title => 'Search', :heading => 'Search' %>

Search for Applications, Environments, and Requests
<form action="#" method="post">
  <p>
    <label>Search</label>
    <input type="text" />
    <input type="submit" value="Go!" />
  </p>
</form>
