<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<table <%= tag_options({id: 'team_roles', class: 'team_roles', cellspacing: '0', padding: '5'}, false) %>>
  <tr>
    <td class='table_of_apps_users'>
      <h3>
        Assign Application Roles to Team Users
      </h3>
      <p></p>
    </td>
  </tr>
</table>
