<p>The following exception was raised at <%= h @params['SS_company_name'] %>:</p>

<p>Exception: <%= h @params['SS_exception_message'].to_s %></p>

<p>Backtrace: <%= h @params['SS_exception_backtrace'].to_s %></p>
