<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<span class='uploads dynamic_fields'>
  <%= render :partial => 'uploads/add_uploads_form', :locals => { :owner => @request, :f => f } %>
</span>
