<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% pagination_links = will_paginate @chat_history %>
<% if pagination_links %>
  <table class='request_pagination'>
    <tr>
      <td>
        <%= pagination_links %>
      </td>
    </tr>
  </table>
<% end %>
<% @chat_history.flatten.each do |chat_log| %>
  <%= chat_log %>
  <br>
<% end %>
