<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Editing User: #{h @user.name}" %>
<% content_for :page_section do %>
  <%= render :partial => 'tabs', :locals => {:selected => 'users',:tab_view => true} %>
<% end %>
<% content_for :sidebar do %>
  &nbsp;
<% end %>
<h3 style='padding:5px;'>
  <%= "Editing #{h @user.name}" %>
</h3>
<%= render :partial => 'users/form', :locals => { :user => @user, :groups => @groups } %>
