<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='pageSection'>
  <% draw_tabs :for => :property, :selected => "properties" do %>
    <%= sub_tab "Properties" %>
  <% end %>
</div>
