<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='alphabetic_padination_div'>
  <span class='alphabetic_padination_span'>
    <strong>Jump to:</strong>
  </span>
  <div style='padding-left:50px'>
    <ul class='pagination'>
      <% if params[:key].present? %>
        <% pagination_servers_search_letter(model_name,params[:key]).each do |letter| %>
          <li></li>
          <li><%= link_to(letter, "#{path}?key=#{params[:key]}&letter=#{letter}") %></li>
        <% end %>
      <% else %>
        <% model_name.pagination_letters.each do |letter| %>
          <li></li>
          <li><%= link_to(letter, "#{path}?letter=#{letter}") %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
