<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if defined?(show_map) && show_map %>
  <div class='section'>
    <h4>Process Map</h4>
    <%= image_tag 'ss-process-map.png', {:size => '200x345'} %>
  </div>
<% end %>
