<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<hr>
  <div id='toggleLink'>
    <span style='font-weight:bold;font-size:11px'>Automation Tips:</span>
    <%= link_to_function "(show)", "toggleSection($(this))", :rel => "(hide)", :class => "auto_tips" %>
  </div>
  <div id='auto_tips' style='display:none;'>
    <br>
    <strong>Arguments:</strong>
    The first triple-quoted comment block in your script must contain the argument list in standard YAML format.
    See the example below:
    <pre>###
# argument1:
#   name: the first argument
#   position: A1:A1 to F1:Fn
#   type: in/out type
#   required: yes/no
#   external_resource: resource automation name
#   list_pairs: id,value|id,value|...
# argument2:
#   name: the second argument
#   ...
###

# only for step automations
pack_response argument_name, value
...

# only for resource automations
def execute(script_params, parent_id, offset, max_records)
  ...
  ...
end
</pre>
    <br>
    <strong>Script Language:</strong>    
    BMC Release Process Management automation is written is essentially the Ruby language with our automation framework. Bladelogic automation is written in Jython (python).
    Resource automations are always in Ruby language.
    <br>
    <br>
    Key Concepts:
    <br>
    - All script arguments, properties and request/application/component/server information is available to the script in the params dictionary.  A dictionary or hash is an array of name =&gt; value pairs.
    <br>
    For instance:
    <br>
    Lets say you have a script argument named "build_path" and a property of the component "job_name".  Now you want to use them in the script.
    <br>
    Here's how:
    <br>
    print "the build path is:" + params["build_path"]
    <br>
    print "the job name is:" + params["job_name"]
    <br>
    <br>
    - Scripts execute in a three part system.  There is the script file which is this script plus a framework header, the input file which is the params dictionary and the output file which will get everything plus the results.  These files are placed in the automation_results folder on your BRPM application server.
    <br>
    <br>
    <br>
  </div>
</hr>
