<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<br>
  <table class='index_table formatted_table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Script type</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% scripts.each do |script| %>
        <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
          <td><%= h script["script_name"] %></td>
          <td><%= h script["script_desc"] %></td>
          <td><%= h script["script_type"] %></td>
          <td>select</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</br>
