<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h3>
  Import Scripts Preview
</h3>
<p>
  <%= "Local script path: #{@path}" %>
</p>
<pre><%= @content %></pre>
