<% request.notes.all.sort! { |a, b|  a.created_at <=> b.created_at }.each do |note| %>
	<p style="width:400px;height:300;float:top;clear:none"> 
	  <span class="user_date">
	    <%= note.user.name%>
	    <%= note.updated_at.default_format%>
	    </br>
	    <span>
	  <%= auto_link ensure_space(note.content), :all, :target => '_blank' %> 
	</p>
	<%end%>