<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='pageSection'>
  <ul>
    <% unless @templates_sibling.empty? %>
      <% @templates_sibling.each do |variant| %>
        <li <%= tag_options({:class => "#{variant.request.id == @request.id ? 'selected' : ''}"}, false) %>>
          <%= link_to variant.name.split("-")[0], variant.request %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
