<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if @view_my_applications %>
  <div id='my_applications'>
    <%= render :partial => "dashboard/self_services/tables/my_applications" %>
  </div>
<% end %>
