<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if can? :view, :my_environments %>
  <div id='my_environments'>
    <%= render :partial => "dashboard/self_services/tables/my_environments" %>
  </div>
<% end %>
