<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div <%= tag_options({:id => "ticket_pagination_#{position}"}, false) %>>
  <table <%= tag_options({:id => "ticket_pagination_#{position}_#{@page || 1}", :style => "width:100%;"}, false) %>>
    <tr>
      <td <%= tag_options({:colspan => 2, :width => 476, :align => :right}, false) %>><%= will_paginate(tickets, :id => "pagination_ticket_#{position}", :params => {:filters => @filters, :actions => @actions, :per_page => @per_page, :step_facebox => is_facebox }, :class => clazz) %></td>
    </tr>
  </table>
</div>
