<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings title: 'Integrations' %>
<% content_for :page_section do %>
  <%= render partial: 'users/tabs', locals: { selected: 'integrations', tab_view: true } %>
<% end %>
<% content_for :sidebar do %>
  <% if can?(:create, ProjectServer.new) %>
    <p>
      <%= link_to "Create new Integration", new_project_server_path, class: 'create_project_server' %>
    </p>
  <% end %>
<% end %>
<div class='server_search'>
  <%= search_box("/project_servers") %>
</div>
<div id='search_result'>
  <%= render partial: "index" %>
</div>
