<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => 'Integrations - Add New Server' %>
<% content_for :page_section do %>
  <%= render :partial => 'users/tabs', :locals => { :selected => 'integrations',:tab_view => true } %>
  <%# = render :partial => 'account/tabs', :locals => { :selected => 'integrations' } %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= form_for @project_server, :url => project_servers_url, :html => { :class => 'cssform' } do |f| %>
  <%= render :partial => 'project_servers/form', :locals => {:f => f} %>
<% end %>

