<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<div id="property_results">

  <% step.installed_component.properties.active.each_with_index do |property, index| %>
    <% if property.entry_during_step_execution_on_task?(step.work_task) %>
      <div class="property_field" style="height:40px; float: left; width: 48%; <%= 'clear: both;' if index.even? %>">
        <%= property_value_label "property_values[installed_component][#{step.installed_component.name}]",
                                  property,
                                  step.literal_property_value_for(property, step.installed_component,false, request),
                                  :id => "step_property_values_#{property.id}_#{step.id}", :class => "property_field step_property_value" %>
      </div>
    <% end %>
  <% end %>

</div>
