<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<span class="rerun_script" style="">
  <%= hidden_field_tag 'step[rerun_script]', 'false', :id => nil %>
  <%= check_box_tag 'step[rerun_script]', 'true', false, :class => 'check_duplicates' %>
  <label for="step_rerun_script" class="">Rerun script?</label>
</span>
