<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<h2 class="resource_allocation">Edit Resource Allocations <span><%= h @resource.name %></span></h2>
<div class="resource_allocation">
  <%= render 'workstreams' %>
</div>
