$('#facebox div.content').html('<h2 class="resource_allocation">Edit Resource Allocations <span><%= @resource.name %></span></h2><div class="resource_allocation">' + <%= render('workstreams').to_json %> + '</div>');
