&nbsp;<!--PLEASE DO NOT REMOVE THIS $nbsp;, It is used to prevent from IE html scaping in response-->
<%= form_for [@step.request, @step], url: update_uploads_step_path(@step), method: :put, html: {id: "additional_uploads_form", multipart: true } do |f| %>
  <div class="field">
    <%= render 'uploads/extended_form', { owner:        @step,
                                          is_managable: can_manage_step?(@step),
                                          attachments:  @step.uploads.archieved_attachments,
                                          f:            f } %>
  </div>
  <div class="field">
    <% if can_manage_step?(@step) %>
      <%= submit_tag 'Update Uploads', class: "btn"%>
    <% end %>
  </div>
<% end -%>
