<!--<div Uploads section -->
    <div id="uploads_section" ><!--style="display:none;"-->
      <div id="documents_ajax_uploads_section">
       <%= render :partial => 'ajax_documents_upload_form' %>
      </div>
    </div>
    <!-- /div uploads area-->