<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if installed_component %>
  <% disable_fields = disable_all_form_fields(step) %>
  <% the_properties = installed_component.properties.active %>
  <table class="formatted_table">
    <thead>
      <tr>
      <th>Name</th>
      <th>Value</th>
      </tr>
    </thead>
    <tbody>
    <% the_properties.each_with_index do |property, index| %>
    <tr>
      <td width="350" title="<%= property.name %>"><%= truncate(property.name, :length => 50) %></td>
      <td>
        <% locked =  property.locked_for_installed_component?(installed_component) %>
        <% literal_value = step.try(:literal_property_value_for, property, installed_component)%>
        <% title = property.is_private? ? "" : literal_value%>
        <%= property_value_input_field "property_values[installed_component][#{installed_component.id}]",
                                 property,
                                 literal_value,
                                 :class => "property_field", :disabled => (field_disabled_on_step_creation?(work_task, property) || disable_fields || locked), :title => "#{title}" %>
          <%= image_tag('lock_ico.png') if locked %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

