<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

  <% parent_step.each_step_phase do |steps| %>

    <% movable = steps.any? { |st| st.not_movable? } %>
    <% if  movable %>
      <div class="procedure_step_phase_divider frozen">
        <p class="divider_top"></p>
        <p class="divider_bottom"></p>
      </div>
    <%else%>
      <div class="procedure_step_phase_divider">
        <p class="divider_top"></p>
        <p class="divider_bottom"></p>
      </div>
    <% end %>
    <div class="procedure_step_phase <%=movable ? 'frozen' : '' %>" >

      <% steps.each do |step| %>
        <%= render :partial => 'steps/step_for_reorder', :locals => { :step => step, :request => request, :start_number => start_number } %>
      <% end %>

    </div>

  <% end %>
  <div class="procedure_step_phase_divider">
    <p class="divider_top"></p>
    <p class="divider_bottom"></p>
  </div>

  <div style="clear:both"></div>
