<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% note = note || step.notes.last %>
<% if params[:step_status].present? %>
  <div class="note">
    <%= display_note(note) %>
    <span class="output_link"><%= "Results file: " + results_hyperlink(note) if step.auto? %></span>            
  </div>
<% else %>
  <%= display_note(note) %>
<% end %>
