<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='pageSection'>
  <span class='metadata_heading'>
    <% if defined?("backlink") %>
      <span class='metadata_backlink'>
        <%= link_to "âŽ", backlink %>
      </span>
    <% end %>
    <% if defined?("title") %>
      <%= title %>
    <% end %>
  </span>
</div>
