<%# ############################################################################# %>
<%# BMC Software, Inc. %>
<%# Confidential and Proprietary %>
<%# Copyright (c) BMC Software, Inc. 2001-2012 %>
<%# All Rights Reserved. %>
<%# ############################################################################# %>
<% align ||= :right %>
<% if metadata_model.total_pages > 1 %>
  <div <%= tag_options({:id => "#{metadata_type}_pagination_#{position}"}, false) %>>
    <table <%= tag_options({:id => "#{metadata_type}_pagination_#{position}_#{@page || 1}", :style => "width:100%;"}, false) %>>
      <tr>
        <td <%= tag_options({:colspan => 2, :width => 476, :align => align}, false) %>>
          <%= will_paginate(metadata_model, :id => "pagination_#{metadata_type}_#{position}",
                                            :params => {:per_page => @per_page, :key => @keyword},
                                            :class => "pagination #{html_class if defined? html_class}") %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
