<table class="members_inner formatted_table">
  <thead>
    <tr>
      <th>Environments</th>
      <th>Components</th>
    </tr>
  </thead>
  <tbody>
    <% environments.each do |application_environment| %>
      <tr class="<%= cycle("environment_color_1", "environment_color_2") %> application_environment_row">
        <%= render :partial => 'apps/application_environment_show_row', :locals => { :application_environment => application_environment, :app => app } %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, InstalledComponent.new %>
  <div class="fr">
    <%= link_to_function t('app.component.copy_all'), "checkEnvironmentsAndSubmit('#{app.name.try(:gsub, /'/, "\\\\'")}', false)", id: 'copy_all_components' %>
  </div>
<% end %>
