<tr>
<td colspan=3>
<table align="left">
<tr>
<td id="application_environments">&nbsp;</td>
</tr>
</table>
</td>

</tr>



<tr id="defaultEnvironmentGroup">
	<!--<td>&nbsp;</td> -->
  <td colspan="3" class="members">
    <%= render :partial => 'apps/application_environment_list', :locals => { :app => @app, :environments => @app.application_environments } %>
  </td>
</tr>

