<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%# 'package_templates has been disabled until hardening. %li{ :class => (selected == 'package_templates' ? 'selected' :'' ), :tab => 'packageTemplates' } %>
<%# '= link_to "Package Templates", "#" %>
<ul>
  <li class='selected'>
    <%= link_to "Applications", apps_path %>
  </li>
</ul>
