<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= render :partial => "column", :collection => @activity_category.reload.index_columns %>
<li class='no_drag'></li>
