<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<span <%= tag_options({:id => "toggle_parallel_#{dom_id(member)}"}, false) %>>
  <%= parallel_toggle_image(member) %>
</span>
