<div id="route_gate">

  <div>

    <div class="environment_level_divider"><p></p></div>
    <% if route.route_gates.present? -%>

        <% route.each_route_gate_level do |route_gates, level| %>

            <div class=<%= can?(:configure_gates, Route.new) ? 'route_gate_level' : 'no_drag' %>>
              <div class="level_number"><%= level %></div>

              <% route_gates.each do |route_gate| %>
                  <%= render :partial => 'routes/for_reorder', :locals => {:app => app, :route_gate => route_gate} %>
              <% end %>

            </div>

            <div class="route_gate_level_divider"><p></p></div>

        <% end %>

        <div style="clear:both"></div>
    <% else -%>
        <div class="route_gate_level">
          <p>No environments added yet for this route.  Add environments from the table below.</p>
          <div class="route_gate_level_divider"><p></p></div>
        </div>
    <% end -%>


  </div>

</div>


