<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h2>Creating Plan Stage</h2>
<%= form_for(@plan_stage, :url => plan_template_plan_stages_path(@plan_template), :remote => true, :html => { :class => 'plan_stages cssform' }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :request_templates => @request_templates } %>
  <div class='button_bar'><%= f.submit I18n.t(:create) %></div>
<% end %>

