<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => 'Server Groups' %>
<% content_for :page_section do %>
  <%= render :partial => 'account/environment_tabs', :locals => { :selected => 'servers' } %>
<% end %>
<div class='pageSection'>
  <%= render :partial => 'servers/tabs', :locals => { :selected => 'server_groups'} %>
</div>
<%= render :partial => "servers/sidebar" %>
<div id='server_container'>
  <%= render :partial => 'server_groups/index', :locals => { :active_servers => @active_server_groups, :inactive_servers => @inactive_server_groups, :path => server_groups_path } %>
</div>
