<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='server_pagination_wrapper' style='width:100%'>
  <span class='server_pagination_label'>
    <strong>Jump to:</strong>
  </span>
  <div style='padding-left:50px;'>
    <ul class='pagination'>
      <% if params[:key].present? %>
        <% model_name.pagination_servers_letter(params[:id],params[:key]).each do |letter| %>
          <li></li>
          <li><%= link_to(letter, "#{path}?key=#{params[:key]}&letter=#{letter}", :class => 'ajax') %></li>
        <% end %>
      <% else %>
        <% model_name.pagination_server_levels_letter(params[:id]).each do |letter| %>
          <li></li>
          <li><%= link_to(letter, "#{path}?letter=#{letter}", :class => 'ajax') %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
