<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id='upload_form'>
  <%= f.fields_for :uploads, owner.uploads do |builder| %>
    <%= render 'uploads/extended_fields', { owner:        owner,
                                            is_managable: is_managable,
                                            builder:      builder } %>
  <% end %>
  <%= link_to_add_fields "Add", f, :uploads, 'uploads', owner, 'extended', is_managable %>
</div>
<% if attachments.present? %>
  Attachments removal history:
  <div class='history'>
    <% attachments.each do |attachment| %>
      <div><%= "#{attachment.filename} removed by #{attachment.user_name} #{attachment.updated_at.default_format_date_time}" %></div>
    <% end %>
  </div>
<% end %>
