<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% unless @request_templates.empty? %>
  <table class='tablesorter request_templates_sorter formatted_table'>
    <thead>
      <tr>
        <th colspan='2'>
          Available Templates
        </th>
      </tr>
    </thead>
    <tbody>
      <% @request_templates.each do |template| %>
        <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
          <td>
            <%= template.name %>
          </td>
          <td>
            <%= render :partial => 'promotions/create_from_template_requests', :locals => { :template => template } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render :partial => 'promotions/create_request_without_template' %>
<% end %>
