<thead>
<tr>
  <th>App Name</th>
  <th>Route Name</th>
  <th>Environment Name</th>
</tr>
</thead>
<tbody>
<% constraint_row_data = constraints_by_type[constrainable_type].
        map { |constraint| constraint.constrainable_label.split(' : ') }.
        try(:sort!) -%>
<% constraint_row_data.each do |row| -%>
    <tr <%= tag_options({:class => "#{cycle('', 'alt')}"}, false) %>>
      <td><%= truncate(row[0]) %></td>
      <td><%= truncate(row[1]) %></td>
      <td><%= truncate(row[2]) %></td>
    </tr>
<% end unless constraint_row_data.blank? %>
</tbody>