<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div style='clear:left;text-align: right'>
  <div id='toggleFilterLink'>
    <% if params[:filter_block_collapse_state_flag] == '1' %>
      <%= link_to "Close Filters","#", :id => "close_request_filters",:class => "filterSection" %>
    <% else %>
      <%= link_to "Open Filters","#", :id => "close_request_filters",:class => "filterSection" %>
    <% end %>
  </div>
</div>
<div id='requestFilters' style='display:none'>
  <%= render 'plans/plan_filter_fields', :locals => {:plans => plans} %>
</div>
