<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='pageSection'>
  <div>
    <% draw_tabs :selected => selected, :class => "planTabs" do %>
      <%= sub_tab "Stages", { :path => plan_path(plan) } %>
    <% end %>
  </div>
</div>
