<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id='versions_by_app_map'>
  <table>
    <% apps.each do |app| %>
      <tr>
        <td>
          <h2><%= app.name %></h2>
        </td>
        <td><%= render :partial => 'maps/versions_by_app_map', :locals => { :selected_app => app, :selected_application_environments => plan.application_environments_for_app(app.id) } %></td>
      </tr>
    <% end %>
  </table>
</div>
