<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<div class='constraints_detail_window'>
  <h2><%= "#{@constrainable_type.underscore.humanize } constraints for #{ truncate(@psi.plan_stage.name)}" %></h2>
  <div class='wrap_constraints_detail_table'>
    <table class='constraints_detail_table formatted_table'>
      <%= render partial: "constrainable_#{@constrainable_type.underscore}_table",
                 locals: {constrainable_type: @constrainable_type, constraints_by_type: @constraints_by_type} %>
    </table>
  </div>
</div>