<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Version Report - #{@plan.template_type.titleize} - #{@plan.name}" %>
<%= render :partial => "plans/show", :locals => {:selected => "versions"} %>
<div class='content'>
  <div class='horizontal_scroll_1'><%= render :partial => "plans/version_report", :locals => { :plan => @plan, :apps => @apps } %></div>
</div>
