<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h3>Add New Package Template</h3>
<%= form_for(:package_template, :url => app_package_templates_path(@app), :remote =>true, :html => { :id => "new_package_template_form", :method => :post }) do |f| %>
  <%= render :partial => 'package_templates/form', :locals => { :f => f, :new_record => true } %>
<% end %>

