<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= link_to_function "Add New Package template", "showPackageTemplateForm()", :class => "default_link" %>
<div id='packageTempalteList'>
  <%= render :partial => 'package_templates/list', :locals => { :table_header => 'Active', :templates => @app.active_package_templates } %>
  <%= render :partial => 'package_templates/list', :locals => { :table_header => 'Inactive', :templates => @app.inactive_package_templates } %>
</div>
<div id='newPackageTemplate' style='display:none;'>
  <%= render :partial => 'package_templates/new' %>
</div>
